---
layout: default
---
<div class="comic-container">

    <!-- Scene 1 -->
    <div class="comic-panel">
        <div class="image-container">
            <img src="{{ '/data/Comics/QuestionableCharacters/Extractosaurus.png' | relative_url }}" alt="Scene 1">
            <div class="text-overlays" data-image-id="Extractosaurus">
                <!-- Overlays will be created dynamically by JavaScript -->
            </div>
        </div>
    </div>

    <!-- Scene 2 -->
    <div class="comic-panel">
        <div class="image-container">
            <img src="{{ '/data/Comics/QuestionableCharacters/ScalingKitty.png' | relative_url }}" alt="Scene 2">
            <div class="text-overlays" data-image-id="ScalingKitty">
                <!-- Overlays will be created dynamically by JavaScript -->
            </div>
        </div>
    </div>

    <!-- Scene 3 -->
    <div class="comic-panel">
        <div class="image-container">
            <img src="{{ '/data/Comics/QuestionableCharacters/ProsthoWolf.png' | relative_url }}" alt="Scene 3">
            <div class="text-overlays" data-image-id="ProsthoWolf">
                <!-- Overlays will be created dynamically by JavaScript -->
            </div>
        </div>
    </div>

    <!-- Scene 4 -->
    <div class="comic-panel">
        <div class="image-container">
            <img src="{{ '/data/Comics/QuestionableCharacters/R3_5Cow.png' | relative_url }}" alt="Scene 4">
            <div class="text-overlays" data-image-id="R3_5Cow">
                <!-- Overlays will be created dynamically by JavaScript -->
            </div>
        </div>
    </div>

    <!-- Scene 5 -->
    <div class="comic-panel">
        <div class="image-container">
            <img src="{{ '/data/Comics/QuestionableCharacters/CaptainFrontalLobotomy.png' | relative_url }}" alt="Scene 5">
            <div class="text-overlays" data-image-id="CaptainFrontalLobotomy">
                <!-- Overlays will be created dynamically by JavaScript -->
            </div>
        </div>
    </div>

    <!-- Scene 6 -->
    <div class="comic-panel">
        <div class="image-container">
            <img src="{{ '/data/Comics/QuestionableCharacters/OralPathAnteater_text.png' | relative_url }}" alt="Scene 6">
            <div class="text-overlays" data-image-id="OralPathAnteater">
                <!-- Overlays will be created dynamically by JavaScript -->
            </div>
        </div>
    </div>

    <!-- Scene 7 -->
    <div class="comic-panel">
        <div class="image-container">
            <img src="{{ '/data/Comics/QuestionableCharacters/PedoRabbit.png' | relative_url }}" alt="Scene 7">
            <div class="text-overlays" data-image-id="PedoRabbit">
                <!-- Overlays will be created dynamically by JavaScript -->
            </div>
        </div>
    </div>

    <!-- Scene 8 -->
    <div class="comic-panel">
        <div class="image-container">
            <img src="{{ '/data/Comics/QuestionableCharacters/Lavisheep.png' | relative_url }}" alt="Scene 8">
            <div class="text-overlays" data-image-id="Lavisheep">
                <!-- Overlays will be created dynamically by JavaScript -->
            </div>
        </div>
    </div>
</div>
