---
layout: default
---
<div class="comic-container">

    <!-- Scene 1 -->
    <div class="comic-panel">
        <div class="image-container">
            <img src="{{ '/data/Comics/TerribleDad/TerribleDad01.png' | relative_url }}" alt="Scene 1">
            <div class="text-overlays" data-image-id="TerribleDad01">
                <!-- Overlays will be created dynamically by JavaScript -->
            </div>
        </div>
    </div>

    <!-- Scene 2 -->
    <div class="comic-panel">
        <div class="image-container">
            <img src="{{ '/data/Comics/TerribleDad/TerribleDad02.png' | relative_url }}" alt="Scene 2">
            <div class="text-overlays" data-image-id="TerribleDad02">
                <!-- Overlays will be created dynamically by JavaScript -->
            </div>
        </div>
    </div>

    <!-- Scene 3 -->
    <div class="comic-panel">
        <div class="image-container">
            <img src="{{ '/data/Comics/TerribleDad/TerribleDad03.png' | relative_url }}" alt="Scene 3">
            <div class="text-overlays" data-image-id="TerribleDad03">
                <!-- Overlays will be created dynamically by JavaScript -->
            </div>
        </div>
    </div>

    <!-- Scene 4 -->
    <div class="comic-panel">
        <div class="image-container">
            <img src="{{ '/data/Comics/TerribleDad/TerribleDad04.png' | relative_url }}" alt="Scene 4">
            <div class="text-overlays" data-image-id="TerribleDad04">
                <!-- Overlays will be created dynamically by JavaScript -->
            </div>
        </div>
    </div>

    <!-- Scene 5 -->
    <div class="comic-panel">
        <div class="image-container">
            <img src="{{ '/data/Comics/TerribleDad/TerribleDad05.png' | relative_url }}" alt="Scene 5">
            <div class="text-overlays" data-image-id="TerribleDad05">
                <!-- Overlays will be created dynamically by JavaScript -->
            </div>
        </div>
    </div>
</div>
