---
layout: default
---
<div class="post-header">
    <h1 data-story-id="character_title"></h1>
</div>

<hr>

<div class="character-story">
    <h2 data-story-id="background_story_title"></h2>
    <div class="story-content" data-story-id="character-description">
        <!-- Story paragraphs will be inserted here by JavaScript -->
    </div>

    <br>

    <div class="story-content" data-story-id="character_story">
        <!-- Story paragraphs will be inserted here by JavaScript -->
    </div>
</div>

<hr>
<div class="comic-container">
    <!-- Scene 1 -->
    <div class="comic-panel">
        <div class="image-container">
            <img src="{{'/data/Comics/PedoRabbit_BS/PedoRabbit_BS01.png' | relative_url}}" alt="Scene 1">
            <div class="text-overlays" data-image-id="PedoRabbit_BS01">
            </div>
        </div>
    </div>
    <!-- Scene 2 -->
    <div class="comic-panel">
        <div class="image-container">
            <img src="{{'/data/Comics/PedoRabbit_BS/PedoRabbit_BS02.png' | relative_url}}" alt="Scene 2">
            <div class="text-overlays" data-image-id="PedoRabbit_BS02">
            </div>
        </div>
    </div>
    <!-- Scene 3 -->
    <div class="comic-panel">
        <div class="image-container">
            <img src="{{'/data/Comics/PedoRabbit_BS/PedoRabbit_BS03.png' | relative_url}}" alt="Scene 3">
            <div class="text-overlays" data-image-id="PedoRabbit_BS03">
            </div>
        </div>
    </div>
    <!-- Scene 4 -->
    <div class="comic-panel">
        <div class="image-container">
            <img src="{{'/data/Comics/PedoRabbit_BS/PedoRabbit_BS04.png' | relative_url}}" alt="Scene 4">
            <div class="text-overlays" data-image-id="PedoRabbit_BS04">
            </div>
        </div>
    </div>
    <!-- Scene 5 -->
    <div class="comic-panel">
        <div class="image-container">
            <img src="{{'/data/Comics/PedoRabbit_BS/PedoRabbit_BS05.png' | relative_url}}" alt="Scene 5">
            <div class="text-overlays" data-image-id="PedoRabbit_BS05">
            </div>
        </div>
    </div>
    <!-- Scene 6 -->
    <div class="comic-panel">
        <div class="image-container">
            <img src="{{'/data/Comics/PedoRabbit_BS/PedoRabbit_BS06.png' | relative_url}}" alt="Scene 6">
            <div class="text-overlays" data-image-id="PedoRabbit_BS06">
            </div>
        </div>
    </div>
</div>

<hr>
{% include comments.html %}