---
layout: default
---
<div class="post-header">
    <h1 data-story-id="character_title"></h1>
</div>

<hr>
<br>

<div class="character-story">
    <div class="story-content" data-story-id="character_story">
        <!-- Story paragraphs will be inserted here by JavaScript -->
    </div>
</div>

<hr>

<div class="comic-container">
    <!-- Scene 1 -->
    <div class="comic-panel">
        <div class="image-container">
            <img src="{{ '/data/Comics/WorkplaceInjury/WorkplaceInjury01.png' | relative_url }}" alt="Scene 1">
            <div class="text-overlays" data-image-id="WorkplaceInjury01">
            </div>
        </div>
    </div>

    <!-- Scene 2 -->
    <div class="comic-panel">
        <div class="image-container">
            <img src="{{ '/data/Comics/WorkplaceInjury/WorkplaceInjury02.png' | relative_url }}" alt="Scene 2">
            <div class="text-overlays" data-image-id="WorkplaceInjury02">
            </div>
        </div>
    </div>
</div>