---
layout: default
---
<div class="post-header">
    <h1 class="page-title" data-story-id="team_title"></h1>
    <div class="member-description" data-story-id="team_description">
        <!-- Content will be inserted here by JavaScript -->
    </div>
</div>

<hr>
<br>

<div class="comic-container">
    <!-- Scene 1 -->
    <div class="character-links">
        <h2><a href="{{ '/2024/12/22/extractosaurus' | relative_url }}">拔牙暴龍:就下來了 / Extractosaurus: It Just Fell Off</a></h2>
    </div>
    <br>
    
    <div class="comic-panel">
        <div class="image-container">
            <img src="{{ '/data/Comics/QuestionableCharacters/Extractosaurus.png' | relative_url }}" alt="Scene 1">
            <div class="text-overlays" data-image-id="Extractosaurus_overlay">
                <!-- Text overlays will be inserted here by JavaScript -->
            </div>
        </div>
    </div>
    <br>

    <div class="member-profile" data-member-id="Extractosaurus_profile">
        <!-- Content will be inserted here by JavaScript -->
    </div>

    <hr>
    <br>

    <!-- Scene 2 -->
    <div class="character-links">
        <h2><a href="{{ '/2024/12/22/scaling-kitty' | relative_url }}">洗牙貓貓:AAPD 2017 / Scaling Kitty: AAPD 2017</a></h2>
    </div>
    <br>

    <div class="comic-panel">
        <div class="image-container">
            <img src="{{ '/data/Comics/QuestionableCharacters/ScalingKitty.png' | relative_url }}" alt="Scene 2">
            <div class="text-overlays" data-image-id="ScalingKitty_overlay">
            </div>
        </div>
    </div>
    <br>

    <div class="member-profile" data-member-id="ScalingKitty_profile">
        <!-- Member content will be inserted here by JavaScript -->
    </div>

    <hr>
    <br>

    <!-- Scene 3 -->
    <div class="character-links">
        <h2><a href="{{ '/prosthowolf' | relative_url }}">波索沃:固定補綴學 / ProsthoWolf: Never Fall Off</a></h2>
    </div>
    <br>

    <div class="comic-panel">
        <div class="image-container">
            <img src="{{ '/data/Comics/QuestionableCharacters/ProsthoWolf.png' | relative_url }}" alt="Scene 3">
            <div class="text-overlays" data-image-id="ProsthoWolf_overlay">
            </div>
        </div>
    </div>
    <br>

    <div class="member-profile" data-member-id="ProsthoWolf_profile">
        <!-- Member content will be inserted here by JavaScript -->
    </div>

    <hr>
    <br>

    <!-- Scene 4 -->
    <div class="character-links">
        <h2><a href="{{ '/2024/12/22/r3-5-cow' | relative_url }}">R3.5牛:太簡單我不接 / R3.5 Cow: Too Young Too Simple</a></h2>
    </div>
    <br>

    <div class="comic-panel">
        <div class="image-container">
            <img src="{{ '/data/Comics/QuestionableCharacters/R3_5Cow.png' | relative_url }}" alt="Scene 4">
            <div class="text-overlays" data-image-id="R3_5Cow_overlay">
            </div>
        </div>
    </div>
    <br>

    <div class="member-profile" data-member-id="R3_5Cow_profile">
        <!-- Member content will be inserted here by JavaScript -->
    </div>

    <hr>
    <br>

    <!-- Scene 5 -->
    <div class="character-links">
        <h2><a href="{{ '/2024/12/29/captainfrontallobotomy' | relative_url }}">前額葉切除隊長:統一場論 / Captain Frontal Lobotomy: The Solution to Everything</a></h2>
    </div>
    <br>

    <div class="comic-panel">
        <div class="image-container">
            <img src="{{ '/data/Comics/QuestionableCharacters/CaptainFrontalLobotomy.png' | relative_url }}" alt="Scene 5">
            <div class="text-overlays" data-image-id="CaptainFrontalLobotomy_overlay">
            </div>
        </div>
    </div>
    <br>

    <div class="member-profile" data-member-id="CaptainFrontalLobotomy_profile">
        <!-- Member content will be inserted here by JavaScript -->
    </div>

    <hr>
    <br>

    <!-- Scene 6 -->
    <div class="character-links">
        <h2><a href="{{ '/comics/oral-path-anteater' | relative_url }}">口病食蟻獸:第58次修改 / Oral Pathology Anteater: 58th Modification</a></h2>
    </div>
    <br>

    <div class="comic-panel">
        <div class="image-container">
            <img src="{{ '/data/Comics/QuestionableCharacters/OralPathAnteater_text.png' | relative_url }}" alt="Scene 6">
            <div class="text-overlays" data-image-id="OralPathAnteater_overlay">
            </div>
        </div>
    </div>
    <br>

    <div class="member-profile" data-member-id="OralPathAnteater_profile">
        <!-- Member content will be inserted here by JavaScript -->
    </div>

    <hr>
    <br>

    <!-- Scene 7 -->
    <div class="character-links">
        <h2><a href="{{ '/comics/pedo-rabbit' | relative_url }}">兒牙兔:家長不要看 / Pedodontic Rabbit: The Horror</a></h2>
    </div>
    <br>

    <div class="comic-panel">
        <div class="image-container">
            <img src="{{ '/data/Comics/QuestionableCharacters/PedoRabbit.png' | relative_url }}" alt="Scene 7">
            <div class="text-overlays" data-image-id="PedoRabbit_overlay">
            </div>
        </div>
    </div>
    <br>

    <div class="member-profile" data-member-id="PedoRabbit_profile">
        <!-- Member content will be inserted here by JavaScript -->
    </div>

    <hr>
    <br>

    <!-- Scene 8 -->
    <div class="character-links">
        <h2><a href="{{ '/comics/lavish-sheep' | relative_url }}">敗家綿羊:沒有很貴啊 / Lavisheep: Not That Expensive</a></h2>
    </div>
    <br>

    <div class="comic-panel">
        <div class="image-container">
            <img src="{{ '/data/Comics/QuestionableCharacters/Lavisheep.png' | relative_url }}" alt="Scene 8">
            <div class="text-overlays" data-image-id="Lavisheep_overlay">
            </div>
        </div>
    </div>
    <br>

    <div class="member-profile" data-member-id="Lavisheep_profile">
        <!-- Member content will be inserted here by JavaScript -->
    </div>

    <!-- Scene 9 -->
    <div class="character-links">
        <h2><a href="{{ '/2024/03/16/terrible-dad' | relative_url }}">西醫歐:兒子你有為我感到驕傲嗎? / CEO: Are You Proud of ME, SON ?</a></h2>
    </div>
    <br>

    <div class="comic-panel">
        <div class="image-container">
            <img src="{{ '/data/Comics/QuestionableCharacters/TerribleDad.png' | relative_url }}" alt="Scene 9">
            <div class="text-overlays" data-image-id="TerribleDad_overlay">
            </div>
        </div>
    </div>
    <br>

    <div class="member-profile" data-member-id="TerribleDad_profile">
        <!-- Member content will be inserted here by JavaScript -->
    </div>


</div>
    <!-- Continue this pattern for each scene... -->
</div>